[submodule "BaluLib"]
	path = BaluLib
	url = https://github.com/HumMan/BaluLib.git
[submodule "BaluRender"]
	path = BaluRender
	url = https://github.com/HumMan/BaluRender.git
[submodule "BaluScript"]
	path = BaluScript
	url = https://github.com/HumMan/BaluScript.git
[submodule "easyloggingpp"]
	path = easyloggingpp
	url = https://github.com/easylogging/easyloggingpp.git
[submodule "nanovg"]
	path = nanovg
	url = https://github.com/memononen/nanovg.git
[submodule "Box2D"]
	path = Box2D
	url = https://github.com/erincatto/Box2D.git
[submodule "pugixml"]
	path = pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "boost-nowide"]
	path = boost-nowide
	url = https://github.com/halex2005/boost-nowide.git
