<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevIL" version="1.7.8" targetFramework="Native" />
  <package id="DevIL.redist" version="1.7.8" targetFramework="Native" />
  <package id="freetype" version="2.6.2.1" targetFramework="Native" />
  <package id="freetype.redist" version="2.6.2.1" targetFramework="Native" />
  <package id="glew.v140" version="1.12.0" targetFramework="Native" />
  <package id="sdl2.v140" version="2.0.4" targetFramework="Native" />
  <package id="sdl2.v140.redist" version="2.0.4" targetFramework="Native" />
</packages>